
services:
  postgres_primary:
    image: postgres:15
    ports:
      - 5432:5432
    volumes:
      - ./tmp/postgres/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=admin
      - POSTGRES_DB=db
      - POSTGRES_HOST_AUTH_METHOD=scram-sha-256
      - POSTGRES_INITDB_ARGS=--auth-host=scram-sha-256
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - 8888:80
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=password
    depends_on:
      - postgres_primary

networks:
  default:
    driver: bridge
    name: webapp